Play the game here

<%= for hand <- @deal.hands do %>
    <div class="flex">
        <%= for delt_card <- hand.delt_cards do %>
            <%= GameTogetherOnlineWeb.CardView.render("show.html", card: delt_card.card) %>
        <% end %>
    </div>
<% end %>
