Play the game here

<%= for hand <- @deal.hands do %>
    <div class="flex">
        <%= for card <- hand.cards do %>
            <%= GameTogetherOnlineWeb.CardView.render("show.html", card: card) %>
        <% end %>
    </div>
<% end %>
