<div class="flex justify-center pt-10">
    <div class="card w-1/3">
        <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @id, redirect_param(@conn))) %>
    </div>
</div>
