<%= form_for @changeset, @action, fn f -> %>
    <div class="mb-4">
        <%= text_input f, :username, class: "text-input", placeholder: "Username" %>
        <%= error_tag f, :username %>
    </div>
    <%= submit "Create A Game", class: "btn-primary" %>
<% end %>
